/* Zato da je JZZ.input.Kbd() oziroma pianoIn, pianoOut pravilno renderiran. Drugač so presledki med tipkami, ker so <span>. */
.pianoroll > span > span {
  box-sizing: content-box;
}

/* Da knofi nimajo outline */
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn:focus,
.btn:active,
.btn:hover {
  box-shadow: none !important;
  outline: 0;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  /* padding: 15px 10px; */
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#sidebar {
  min-width: 220px;
  max-width: 220px;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -220px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  /* padding: 20px; */
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#klaviature {
  transition: all 0.3s;
  max-width: fit-content;
  min-width: fit-content;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

/* Animacija križca */
#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

@media (max-width: 1100px) {
  #sidebar {
    margin-left: -220px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  #learn {
    margin-left: 1.5rem;
  }
}

@media (max-width: 1220px) {
  #klaviature {
    margin-left: auto;
    margin-right: auto;
  }
}

#content {
  display: flex;
  flex-direction: row;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 1600px) {
  #content {
    flex-direction: column;
  }
}

#learn {
  max-width: 960px; /*spremen na neko fiksno vrednost če stvar ne bo delala*/
}

.inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

/* select {
  width: 15em;
} */

#staff {
  display: inline-block;
  width: 560px;
  height: 420px;
  position: relative;
}
#staff div {
  display: inline-block;
  position: absolute;
}
#clef {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}
#l0,
#l1,
#l2,
#l3,
#l4,
#l5 {
  background-color: #000;
  height: 4px;
  width: 560px;
  left: 0;
}
#l0 {
  top: 234px;
  left: 98px;
  width: 68px;
}
#l1 {
  top: 198px;
}
#l2 {
  top: 162px;
}
#l3 {
  top: 126px;
}
#l4 {
  top: 90px;
}
#l5 {
  top: 54px;
}
#c,
#d,
#e,
#f,
#g,
#a,
#b {
  height: 32px;
  width: 48px;
  border-style: solid;
  border-width: 4px;
  border-radius: 50%;
}
#c {
  top: 220px;
  left: 105px;
}
#d {
  top: 202px;
  left: 169px;
}
#e {
  top: 184px;
  left: 233px;
}
#f {
  top: 166px;
  left: 297px;
}
#g {
  top: 148px;
  left: 361px;
}
#a {
  top: 130px;
  left: 425px;
}
#b {
  top: 112px;
  left: 489px;
}
